body {
  background-color:pink;
  size(640,360);
  background-position: center;
}

#myCanvas { background:#fff; border:1px solid #cbcbcb; }
#container { width:600px; margin:0 auto; }


/* #move_box { background:red; border:1px solid #cbcbcb; }
#move_box { width:600px; margin:0 auto; } */

.box {
  width: 100px;
  height: 100px;
}

.blue {
  background: #00f;
}
/* #circle {
  background(50);
  fill(150);
  stroke(255);
  rectMode(CENTER);
  rect (320,180,100,50);

} */
  /* void setup(){
    size(640,360);
  }

  void draw(){

  } */
